<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input
      matInput
      [matDatepicker]="picker"
      placeholder="Data e Ora"
      formControlName="dateTime"
      type="text"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Cliente" formControlName="customer" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Indirizzo" formControlName="address" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Città" formControlName="city" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Costo" formControlName="cost" type="number" />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Salva</button>
</form>
